.tsgTestimionials {}
.tsgTestimionials .testimonial {display: block; width: 90%; margin: 1em; padding: 1em; border-radius: 3px;}
.tsgTestimionials .testimonial p {margin: .5em; font-style:italic; line-height: 1.76	em; text-align:justify;}
.tsgTestimionials .testimonial p:before {content:"\201C";}
.tsgTestimionials .testimonial p:last-of-type:after {content:"\201D";}
.tsgTestimionials .testimonial div.name {text-align: right; display: block; margin: 0 .5em 0;} 
.tsgTestimionials .testimonial div.rating {text-align: right; display: block; margin: .5em 0 0 0;} 
.tsgTestimionials .testimonial div.name:before {content:"\2013  ";}
.tsgTestimionialSlideshow {position:relative; height: 200px;}
.tsgTestimionialSlideshow .testimonial { position:absolute; left:0; top:0; }
.tsgTestimionialWidget {}
.tsgTestimionialWidget .testimonial {margin: .5em; padding: .5em;}
.tsgTestimionialWidget .testimonial p {font-size: .9em; line-height: 1.3em;}
.tsgTestimionialWidget .testimonial ul.tsgStarRating li i {font-size: 1.25em;}
.tsgTestimionialWidget .testimonial ul.tsgStarRating {height: 1em;}
.tsgTestimionialWidget .testimonial ul.tsgStarRating li {height: 1em; width: 1em;}